p {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#booking_button_list {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
#booking_button_list p{
  display: inline-block;
  width: 10%;
  margin: 0 5px;
  padding: 3px 5px;
  background: #3bddb5;
  border-radius: 5px;
  color: #355;
}


#booking_post_list {
  width: 100%;
}

.booking_post_data {
  position: relative;
  width: 100%;
  height: 30px;
  margin: 3px 0;
  background: #ddd;
}
.booking_post_data p{
  display: inline-block;
}
.bokking_ymd {
  position: absolute;
  left: 10px;
  padding: 5px 0;
  color: #111;
}
.bokking_hour {
  position: absolute;
  left: 45%;
  padding: 5px 0;
  color: #111;
}
.bokking_min {
  position: absolute;
  left: 65%;
  padding: 5px 0;
  color: #111;
}
.bokking_remove {
  position: absolute;
  right: 10px;
  background-color: #FF4000;
  color: #eee;
  border-radius: 5px;
  margin: 4px 0;
  padding: 1px 10px;
}
